
<h1 class="text-center">Hello there</h1>

<!-- <%= user_session  %> -->


<% @posts.each do |post| %>
<div>
  <div>
    <h3> <%= post.title %> </h3>
  </div>
    <div>
        <% if user_signed_in? %>
        <strong> Author: <%= post.author %> </strong>
        <% else %>
        <strong>Anonymous Author</strong>
        <% end %>
        
        <p> <%= post.body %> </p>

    </div>
  
</div>
<% end %>